<!DOCTYPE html>
<HTML lang="en">

<HEAD>
    <TITLE>HBNB</TITLE>
</HEAD>

<BODY>

    {% if with_id %}
    {% for state_id, state in states.items() %}
    <H1>State: {{ state.name }}</H1>
    {% endfor %}
    <H3>Cities:</H3>
    {% else %}
    <H1>States</H1>
    {% endif %}
    <UL>
        {% for state_id, state in states.items()|sort(attribute='1.name') %}
        {% if with_id %}
        {% for city in state.cities|sort(attribute='name') %}
        <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
        {% endfor %}
        {% else %}
        <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
        {% endif %}
        {% endfor %}
    </UL>
</BODY>

</HTML>


curl 0.0.0.0:5000/states ; echo ""


d2398800-dd87-482b-be21-50a3063858ad


curl 0.0.0.0:5000/states/d2398800-dd87-482b-be21-50a3063858ad ; echo ""
